.row
  #goto_manifesto.col-xs-7.col-sm-12.col-md-12
    = link_to manifesto_path do
      %img.img-responsive{src: "#{asset_path(File.join(locale.to_s, 'manifesto_link.png'))}", alt: t('.img_button.alt')}
    
  #counter.col-xs-5.col-sm-12.col-md-12
    %span.number= @endorsements_counter
    %span.subtext= t('.counter.subtext')

.row
  #twitter_feed.col-md-12
    %span.feed_header= t('.twitter_feed.header_text')
    %a{class: 'twitter-timeline', href: 'https://twitter.com/hashtag/vagadetotes', data: {'widget-id' => '512554077364830209'}} #vagadetotes