%header
  %h1 Formulari d'adhesió

.panel.panel-default
  .panel-body
    = simple_form_for @endorsement, html: {class: 'form-horizontal'}, wrapper: :horizontal_form,
wrapper_mappings: {boolean: :horizontal_boolean} do |f|
      -#= f.error_notification
      
      = f.input :name, input_html: {maxlength: 25}, autofocus: true
      = f.input :lastname, input_html: {maxlength: 25}
      = f.input :doctype, collection: [['DNI', 'dni'], ['NIE', 'nie'], ['Passaport', 'passport']], prompt: '-document-'
      = f.input :docid, label_html: {class: 'sr-only'}, input_html: {maxlength: 25}, placeholder: '12345678Z'
      = f.input :email, input_html: {maxlength: 25}
      = f.input :birthdate, start_year: Date.today.year - 15, end_year: 1900, order: [:day, :month, :year], prompt: {day: '-dia-', month: '-mes-', year: '-any-'}, use_month_names: %w(Gener Febrer Març Abril Maig Juny Juliol Agost Setembre Octubre Novembre Desembre)
      = f.input :postal_code, input_html: {maxlength: 5}      
      = f.input :activity, input_html: {maxlength: 25}      
      
      %hr
     
      = f.input :subscribed, inline_label: 'Vull rebre informació sobre la Vaga de totes.'
      = f.input :hidden, inline_label: 'No vull que el meu nom aparegui públicament a la web.'
      
      %hr
      
      %p Signant el manifest dono el meu consentiment perquè les meves dades personals siguin incorporades a un fitxer gestionat pel col·lectiu Vagadetotes per tal de poder realitzar totes les gestions necessàries pel manteniment de la meva condició d'adherit/da a aquest manifest. No cedirem les teves dades a tercers. Podeu revocar en qualsevol moment el consentiment donat i exercitar els vostres drets d’accés, rectificació, cancel·lació i oposició adreçant-vos al correu electrònic vagadetotes@gmail.com.
      
      %hr
  
      -#= f.button :submit, 'SIGNAR'
      = image_submit_tag 'endorsement_form_submit.png', alt: 'Signar'