.panel.panel-default
  .panel-body
    = simple_form_for @endorsement, html: {class: 'form-horizontal'}, wrapper: :horizontal_form,
wrapper_mappings: {boolean: :horizontal_boolean} do |f|
      
      = f.input :group, as: :hidden, input_html: {value: '0'}
      
      = f.input :name, input_html: {maxlength: 25}, autofocus: true
      = f.input :lastname, input_html: {maxlength: 50}
      = f.input :doctype, collection: [:dni, :nie, :passport], prompt: :translate
      = f.input :docid, label_html: {class: 'sr-only'}, input_html: {maxlength: 25}, placeholders: :translate, hint: :translate
      = f.input :email, input_html: {maxlength: 50}
      = f.input :birthdate, start_year: Date.today.year - 15, end_year: 1900, prompt: :translate
      = f.input :postal_code, input_html: {maxlength: 5}      
      = f.input :activity, input_html: {maxlength: 50}      
      
      %hr
     
      = f.input :subscribed, inline_label: t('.subscribe_text')
      = f.input :hidden, inline_label: t('.hide_text')
      
      %hr
      
      = render 'endorsements/form/content/legal_notice'
      
      %hr
  
      = image_submit_tag File.join(locale.to_s, 'endorsement_form_submit.png'), class: 'img-responsive', alt: t('.submit.img_alt')
