#goto_endorsement
  = link_to endorsements_path do
    %img{src: "#{asset_path('endorsement_form_link.png')}", alt: t('.img_button.alt')}
    
#counter
  %span.number= @endorsements_counter
  %span.subtext= t('.counter.subtext')

#twitter_feed
  %span.feed_header= t('.twitter_feed.header_text')
  %a{class: 'twitter-timeline', href: 'https://twitter.com/hashtag/vagadetotes', data: {'widget-id' => '512554077364830209'}} #vagadetotes